#!/usr/bin/env python3
#
# doit.launch - outer script that calls launch and combines results
#
import os
import sys
import subprocess

def die( msg ):
    print( f'ERROR: {msg}' )
    sys.exit( 1 )

cmd_en = True
cmd_force_echo_stdout = True

def cmd( c, echo=True, echo_stdout=False, can_die=True, timeout=None ):  
    if echo: print( c, flush=True )
    if cmd_en:
        if echo_stdout or cmd_force_echo_stdout:
            info = subprocess.run( c, shell=True, text=True, timeout=timeout )
        else:
            info = subprocess.run( c, shell=True, text=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE, timeout=timeout )
        if can_die and info.returncode != 0: die( f'command failed: {c}' )
        return info.stdout
    else:
        return ''

# create bundle.tar.gz with files needed on launched servers
cmd( 'tar cvfz bundle.tar.gz main.cpp build.sh run.sh' )

# launch onto 3 instances
#cmd( 'launch -c 3 -do_harvest 0' )
cmd( 'launch -c 1 -do_launch 0 -do_harvest 1' )

# combine results
